<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.java.emp.mapper.EmpMapper">

	<!-- 예외 결과문 추가 -->
	<!-- <resultMap type="EmpVO" id="empInfo"> <id column="employee_id" property="employeeId"/> 
		<result column="last_name" property="lastName"/> </resultMap> -->

	<!-- 전체조회 -->
	<select id="empList" resultType="EmpVO">
		SELECT *
		FROM employees
	</select>
	<!-- 단건조회 -->
	<select id="getEmp" parameterType="EmpVO" resultType="EmpVO">

		SELECT *
		FROM employees
		WHERE employee_id = #{employeeId}

	</select>
	<!-- 등록 -->
	<insert id="insertEmp" parameterType="EmpVO">
		<selectKey keyProperty="empId" resultType="Integer" order="BEFORE">
			SELECT MAX(employee_id)+1 FROM employees
		</selectKey>	
			
		INSERT INTO employees
		(employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,
		)

		VALUES(
		#{empId},#{firstName},#{lastName},#{email},#{phoneNumber},SYSDATE,
		#{jobId},#{salary})

	</insert>
	<!-- 월급10퍼인상 -->
	<update id="updateEmp" parameterType="Integer">
		UPDATE employees
		SET salary = salary*1.1
		where employee_id =#{employeeId}
	</update>
	<!-- update name, mail -->
	<update id="updateNameMailEmp" parameterType="EmpVO">
		UPDATE EMPLOYEES
		<set>
			<if test="firstName != null and !firstName.equals('')">
			 	FIRST_NAME = #{firstName},
			</if>
			<if test="lastName != null and lastName.equals('')">
			 	LAST_NAME = #{lastName},
			</if>
			<if test="email != null and !email.equals('')">
			 	EMAIL = #{email}
			</if>
	  </set>
		WHERE EMPLOYEE_ID = #{employeeId}	
	</update>
	<!-- 삭제 -->
	<delete id="deleteEmp" parameterType="Integer">
		DELETE FROM employees 
		where employee_id = #{empId}

	</delete>
		
	
	

</mapper>